In [2]:
import numpy as np

# ASSIGNMENT 1

### Q1. Identify days with extreme temperature conditions

In [4]:
temperatures = np.array([32.5, 34.2, 36.8, 29.3, 31.0, 38.7, 23.1, 18.5, 22.8, 37.2])

hot_days = temperatures > 35
cold_days = temperatures < 5

extreme_days = hot_days | cold_days

print("Days with extreme temperatures:", np.where(extreme_days)[0])

Days with extreme temperatures: [2 5 9]

### Q2. Split monthly sales data into quarterly reports

In [5]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [10]:
monthly_sales = np.array([120, 135, 148, 165, 180, 155, 168, 190, 205, 198, 210, 225])

quarters = np.split(monthly_sales, 4)

print("Quarterly sales data:")
for i, quarter in enumerate(quarters, 1):
    print("Q",i ,":", quarter)

Quarterly sales data:
Q 1 : [120 135 148]
Q 2 : [165 180 155]
Q 3 : [168 190 205]
Q 4 : [198 210 225]

### Q3. Split customer data into two groups based on purchase activity

In [12]:
custo_id = np.array([101, 102, 103, 104, 105, 106, 107, 108, 109, 110])
last_purchase = np.array([5, 15, 20, 25, 30, 35, 40, 45, 50, 55])

recent_custo = custo_id[last_purchase <= 30]
non_recent_custo = custo_id[last_purchase > 30]

print("Customers who made a purchase in the last 30 days:", recent_custo)
print("\nCustomers who haven't made a purchase in the last 30 days:", non_recent_custo)

Customers who made a purchase in the last 30 days: [101 102 103 104 105]

Customers who haven't made a purchase in the last 30 days: [106 107 108 109 110]

### Q4. Combine full-time and part-time employee data for HR analysis

In [13]:
full_time_employees = np.array([
    [101, 'John Doe', 'Full-Time', 55000],
    [102, 'Jane Smith', 'Full-Time', 60000],
    [103, 'Mike Johnson', 'Full-Time', 52000]
])

part_time_employees = np.array([
    [201, 'Alice Brown', 'Part-Time', 25000],
    [202, 'Bob Wilson', 'Part-Time', 28000],
    [203, 'Emily Davis', 'Part-Time', 22000]
])

all_employees = np.concatenate((full_time_employees, part_time_employees))

print("Comprehensive employee dataset:")
print(all_employees)

Comprehensive employee dataset:
[['101' 'John Doe' 'Full-Time' '55000']
 ['102' 'Jane Smith' 'Full-Time' '60000']
 ['103' 'Mike Johnson' 'Full-Time' '52000']
 ['201' 'Alice Brown' 'Part-Time' '25000']
 ['202' 'Bob Wilson' 'Part-Time' '28000']
 ['203' 'Emily Davis' 'Part-Time' '22000']]

# ASSIGNMENT 2

In [14]:
arrays = [
    np.array([3, 2, 8, 9]),
    np.array([4, 12, 34, 25, 78]),
    np.array([23, 12, 67])
]

means = [np.mean(arr) for arr in arrays]

print("Mean of each NumPy array:", means)

Mean of each NumPy array: [5.5, 30.6, 34.0]

In [15]:
x_odd= np.array([1, 2, 3, 4, 5, 6, 7])

median = np.median(x_odd)

print("Median of the flattened NumPy array:", median)

Median of the flattened NumPy array: 4.0

In [16]:
arr = np.array([20, 2, 7, 1, 34])

std_deviation = np.std(arr)

print("Standard deviation of the NumPy array:", std_deviation)

Standard deviation of the NumPy array: 12.576167937809991

In [17]:
import pandas as pd

# Creating a CSV file with sample data
data = {'Price': [200000, 250000, 180000, 300000, 220000]}
df = pd.DataFrame(data)
df.to_csv('house_prices.csv', index=False)

In [18]:
df = pd.read_csv('house_prices.csv')
prices = df['Price'].to_numpy()

# Calculating the average of house prices
average_price = np.mean(prices)

# Identifying house prices above the average
high_prices = prices[prices > average_price]

# Saving the list of high prices to a new CSV file
high_prices_df = pd.DataFrame({'High Prices': high_prices})
high_prices_df.to_csv('high_prices.csv', index=False)

print("Average house price:", average_price)
print("High prices:", high_prices)

Average house price: 230000.0
High prices: [250000 300000]