# TRAINING SESSIONS

## CONDITIONAL STATEMENTS

In [ ]:
hr=1
min=2
sec=4
time=[hr,min,sec]
print(time)

In [1]:
#to input time in seconds and convert it into hr: min: sec

In [33]:
time= int(input("enter the time in seconds"))
if time>0 :

        hr= time // 3600
        min = (time % 3600) // 60
        rem_sec = time % 60
        if(time<60):
            print(time , "secomds")
        
        elif (time >=60) & (time<3600):
            print(min , "minutes : " , rem_sec , " seconds")
        
        elif time >=3600 : 
            print(hr ," hours : " , min ,"minutes:" , rem_sec ,"seconds")
else :
    print("time must be positive")

enter the time in seconds 3599

59 minutes :  59  seconds

In [95]:
x=int(input("enter first number"))
y=int(input("enter second number"))
if x==y:
    print("both are equal")
elif x>y:
    print("first number", x , " is greater")
else :
    print("second number", y , " is greater")

KeyboardInterrupt: Interrupted by user

In [47]:
cp= float(input("enter the cost price"))
sp=float(input("enter the selling price"))
if(cp<0) & (sp<0):
         print("invalid values of prices ")
else :
    if(sp>cp):
        print("profit : rs ", (sp-cp))
    elif(cp>sp):
        print("Loss : rs " , (cp-sp))
    else :
        print("no profit no loss")

enter the cost price 23
enter the selling price 31

profit : rs  8.0

In [3]:
list=[20,40,30]
for i in list:
    print(i)

20
40
30

In [17]:
sum=0
list=[80,90,30,20,70,80,39,87]
for i in list :
    sum=sum+i
print("the sum is ", sum)
average=sum/len(list)
print("the average is ", average)

the sum is  496
the average is  62.0

In [18]:
type(list)
type(average)

float

## LOOPS

In [19]:
type_list=[list, average, x ]
for i in type_list:
    print(type(i))

<class 'list'>
<class 'float'>
<class 'int'>

In [26]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [28]:
for i in range (2,10, 2):
    print(i)

2
4
6
8

In [32]:
#to generate or display the number to 10 - 500 divisible by both 10 and 7 

for i in range (10 , 500 ):
    if (i%10==0) and (i%7==0):
        print(i)

70
140
210
280
350
420
490

In [37]:
seven_div=[]
for i in range (10 , 500):
    if(i%7==0):
        seven_div.append(i)
print(seven_div)

[14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497]

In [33]:
help(list)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [53]:
even=[]
count=0
final=[]
for i in range(100, 1000):
    if (i %2==0 ) :
        even.append(i)
for i in even:
    if i%3==0:
        count+=1
          

print("the number count between 100 to 1000 which are even and divisble by 3 are : " ,count)

the number count between 100 to 1000 which are even and divisble by 3 are :  150

In [69]:
count=0
final=[]
for i in range(100, 1000):
    if (i %2==0 )and(i%3==0) :
        count+=1
        final.append(i)
        print(i,end=', ')
#print(final)  
print('\n--------------------------------------------------------------------------------------->')
print("the number count between 100 to 1000 which are even and divisble by 3 are : " ,count)

102, 108, 114, 120, 126, 132, 138, 144, 150, 156, 162, 168, 174, 180, 186, 192, 198, 204, 210, 216, 222, 228, 234, 240, 246, 252, 258, 264, 270, 276, 282, 288, 294, 300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618, 624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696, 702, 708, 714, 720, 726, 732, 738, 744, 750, 756, 762, 768, 774, 780, 786, 792, 798, 804, 810, 816, 822, 828, 834, 840, 846, 852, 858, 864, 870, 876, 882, 888, 894, 900, 906, 912, 918, 924, 930, 936, 942, 948, 954, 960, 966, 972, 978, 984, 990, 996,
--------------------------------------------------------------------------------------->
the number count between 100 to 1000 which are even and divisble by 3 are :  150

In [ ]:
count=0
final=[]
for i in range(100, 1000):
    if (i %2==0 )and(i%3==0) :
        count+=1
        final.append(i)
print(final)  

print("\nthe number count between 100 to 1000 which are even and divisble by 3 are : " ,count)

In [73]:
i=0
while(i<=10):
    print(i)
    i+=1
print('end---/')

0
1
2
3
4
5
6
7
8
9
10
end---/

In [78]:
i=100
count=0
while(i<1000):
    if(i%2==0)and (i%3==0):
        print(i, end=', ')
        count+=1
    i+=1
print('\n------------->')
print("the total numbers between 100 and 1000 that are even and divisible by 3 are" , count)

102, 108, 114, 120, 126, 132, 138, 144, 150, 156, 162, 168, 174, 180, 186, 192, 198, 204, 210, 216, 222, 228, 234, 240, 246, 252, 258, 264, 270, 276, 282, 288, 294, 300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540, 546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618, 624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696, 702, 708, 714, 720, 726, 732, 738, 744, 750, 756, 762, 768, 774, 780, 786, 792, 798, 804, 810, 816, 822, 828, 834, 840, 846, 852, 858, 864, 870, 876, 882, 888, 894, 900, 906, 912, 918, 924, 930, 936, 942, 948, 954, 960, 966, 972, 978, 984, 990, 996,
------------->
the total numbers between 100 and 1000 that are even and divisible by 3 are 150

## LIST

In [35]:
f_list=[20,30,10, 'hi', 40]

print(f_list)
print(*f_list) #no formatting function *

[20, 30, 10, 'hi', 40]
20 30 10 hi 40

In [36]:
#list with for loop

In [40]:
count=0
for i in f_list:
    count+=1
print(count)

5

In [56]:
sub_list=f_list[0:len(f_list):2]
for i in range (0,len(sub_list)):
    print(sub_list[i])

20
10
40

In [64]:
print("the full list is :" ,* f_list)
#accessing any element 
print("accessing any element :",f_list[2])
#accessing form last 
print("accessing form last :", f_list[-3])
#fetching elements in between 
print("fetching elements in between :" , f_list[2:5])
print("alternate elements from 1 to last : " , f_list[1:len(f_list): 2])

the full list is : 20 30 10 hi 40
accessing any element : 10
accessing form last : 10
fetching elements in between : [10, 'hi', 40]
alternate elements from 1 to last :  [30, 'hi']

In [80]:
#create a list of 20 numbers and print the elements in backward direction using forward index 
listf=[]

for i in range (0, 4):
    x=int(input("enter number"))
    listf.append(x)
print(listf)
length=len(listf)
print(listf[length:])

enter number 1
enter number 2
enter number 3
enter number 4

[1, 2, 3, 4]
[]

In [ ]:
f_list=[]
for i in range(0,4):
    x=int(input("enter no ")
    f_list.append(x)
for i in range (len(f_list)):
    print(f_list[len(f_list):

In [85]:
listof=[1,2,3,4]
for i in range(3,4):
    print(listof)

[1, 2, 3, 4]

In [93]:
numlist=[10,20,30,40]

for i in range(0,4):
    y=int(input("input: "))
    numlist.append(y)
print(numlist)
n=len(numlist)-1
for i in range(n,-1,-1):
    print(numlist[i], end=', ')

input:  1
input:  2
input:  3
input:  4

[10, 20, 30, 40, 1, 2, 3, 4]
4, 3, 2, 1, 40, 30, 20, 10,

In [92]:
num2=[]
for i in range(0,4):
    y=int(input("input: "))
    num2.append(y)
n=len(num2)-1
for i in range(n,-1,-1):
    print(num2[i], end=', ')

input:  1
input:  2
input:  3
input:  4

4, 3, 2, 1,

### extend function

In [99]:
list=[20,30,40,50]
ext=[60,70,80,100]
ext2=[1,2,3,4]
list.extend(ext)
print(list)

[20, 30, 40, 50, 60, 70, 80, 100]

#### inserting at a particular position

In [107]:
#inserting at specified
#using insert function 
list=[15,20,30]
list.insert(2,25)
print("after inserting the value at specified index : the list :")
print(list)

after inserting the value at specified index : the list :
[15, 20, 25, 30]

In [120]:
list=[10,20,30]
list2=[]
for i in range(0,3) :
    
    x=input("enter the value")
    list2.append(x)
print(list2)
n=len(list)
list.insert(n,list2)
print(list)

enter the value 1
enter the value 2
enter the value 3

['1', '2', '3']
[10, 20, 30, ['1', '2', '3']]

In [123]:
list=[10,20,30]
list2=[30,40,50]
print("the list before insertion-->")
print(list)
index=2
for x in list2:
    list.insert(index, x)
    x+=1
print("the list after insertion at index " , index , " is : ", list)

the list before insertion-->
[10, 20, 30]
the list after insertion at index  2  is :  [10, 20, 50, 40, 30, 30]

#### removal of elements from list

In [129]:
#1. using pop function pop()


list3=[20,30,40,50]
list3.pop(2)
print(list3)

[20, 30, 50]

In [127]:
print(list3)

[20, 30, 50]

In [132]:
#2. using remove function remove()
#to delete specified element from the position of first occurence from the left most element 
list4=[40,50,55,60,66,55]
list4.remove(55)
print(list4)

[40, 50, 60, 66, 55]

In [133]:
list4.remove(80)
print(list4)

ValueError: list.remove(x): x not in list

In [134]:
# hence the remove() will generate error if value isnt present

In [135]:
# 3 . clear() method

In [136]:
list4.clear()
print(list4)

[]

In [137]:
#now the list has been all cleared

## tabulate module

In [10]:
#installing tabulate to convert list data into tabular form

In [1]:
!pip install tabulate

Requirement already satisfied: tabulate in c:\users\dhruv\anaconda3\lib\site-packages (0.9.0)

In [2]:
from tabulate import tabulate

In [35]:
student_records = [
   
    ['std101', 'Ashish Kumar', '10th', 15, 67, 89, 87, 89, 90, 422],
    ['std102', 'Abhishek Kumar', '10th', 15, 48, 48, 93, 79, 45, 313],
    ['std103', 'Aman', '10th', 14, 56, 56, 78, 78, 67, 302],
    ['std104', 'Rahul', '10th', 13, 67, 89, 45, 78, 89, 368],
    ['std105', 'Ruby', '10th', 13, 35, 89, 90, 45, 45, 303],
    ['std106', 'Suman', '10th', 15, 45, 99, 45, 45, 73, 337],
    ['std107', 'Saurabh', '10th', 13, 89, 45, 89, 45, 45, 313],
    ['std108', 'Sumit', '10th', 15, 12, 78, 78, 99, 36, 303],
    ['std109', 'Kamlesh', '10th', 15, 56, 45, 67, 93, 42, 303],
    ['std110', 'Rohan', '10th', 15, 34, 24, 45, 45, 56, 171],
]


columns = ["stdid", "stdname", " Standard", "age", "hindi", "english", "maths", "science", "computer", "total"]

print(tabulate(student_records, headers=columns, tablefmt="grid"))


print("\n\nStudents with English marks greater than 50:")
filtered_records = [record for record in student_records if record[5] > 50]
print(tabulate(filtered_records, headers=columns, tablefmt="grid"))

print('\n')

top_math_students = sorted(student_records, key=lambda x: x[5], reverse=True)[:4]


top_students = [(student[1], student[3]) for student in top_math_students]

print("\nTop 4 Students with Highest Marks in Maths and with their age :")
print(tabulate(top_students, headers=["stdname", "age"], tablefmt="grid"))


print('\n')

+---------+----------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+
| stdid   | stdname        |  Standard   |   age |   hindi |   english |   maths |   science |   computer |   total |
+=========+================+=============+=======+=========+===========+=========+===========+============+=========+
| std101  | Ashish Kumar   | 10th        |    15 |      67 |        89 |      87 |        89 |         90 |     422 |
+---------+----------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+
| std102  | Abhishek Kumar | 10th        |    15 |      48 |        48 |      93 |        79 |         45 |     313 |
+---------+----------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+
| std103  | Aman           | 10th        |    14 |      56 |        56 |      78 |        78 |         67 |     302 |
+---------+----------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+
| std104  | Rahul          | 10th        |    13 |      67 |        89 |      45 |        78 |         89 |     368 |
+---------+----------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+
| std105  | Ruby           | 10th        |    13 |      35 |        89 |      90 |        45 |         45 |     303 |
+---------+----------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+
| std106  | Suman          | 10th        |    15 |      45 |        99 |      45 |        45 |         73 |     337 |
+---------+----------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+
| std107  | Saurabh        | 10th        |    13 |      89 |        45 |      89 |        45 |         45 |     313 |
+---------+----------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+
| std108  | Sumit          | 10th        |    15 |      12 |        78 |      78 |        99 |         36 |     303 |
+---------+----------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+
| std109  | Kamlesh        | 10th        |    15 |      56 |        45 |      67 |        93 |         42 |     303 |
+---------+----------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+
| std110  | Rohan          | 10th        |    15 |      34 |        24 |      45 |        45 |         56 |     171 |
+---------+----------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+


Students with English marks greater than 50:
+---------+--------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+
| stdid   | stdname      |  Standard   |   age |   hindi |   english |   maths |   science |   computer |   total |
+=========+==============+=============+=======+=========+===========+=========+===========+============+=========+
| std101  | Ashish Kumar | 10th        |    15 |      67 |        89 |      87 |        89 |         90 |     422 |
+---------+--------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+
| std103  | Aman         | 10th        |    14 |      56 |        56 |      78 |        78 |         67 |     302 |
+---------+--------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+
| std104  | Rahul        | 10th        |    13 |      67 |        89 |      45 |        78 |         89 |     368 |
+---------+--------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+
| std105  | Ruby         | 10th        |    13 |      35 |        89 |      90 |        45 |         45 |     303 |
+---------+--------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+
| std106  | Suman        | 10th        |    15 |      45 |        99 |      45 |        45 |         73 |     337 |
+---------+--------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+
| std108  | Sumit        | 10th        |    15 |      12 |        78 |      78 |        99 |         36 |     303 |
+---------+--------------+-------------+-------+---------+-----------+---------+-----------+------------+---------+



Top 4 Students with Highest Marks in Maths and with their age :
+--------------+-------+
| stdname      |   age |
+==============+=======+
| Suman        |    15 |
+--------------+-------+
| Ashish Kumar |    15 |
+--------------+-------+
| Rahul        |    13 |
+--------------+-------+
| Ruby         |    13 |
+--------------+-------+

In [41]:
computer_students = sorted(student_records, key=lambda x: x[7])[:3]


low_students = [(student[0],student[1], student[3],student[7] ) for student in computer_students]

print("bottom 2 Students with lowest marks in computer  :")
print(tabulate(low_students, headers=["stdid", "stdname", "age",  "computer"], tablefmt="grid"))

bottom 2 Students with lowest marks in computer  :
+---------+-----------+-------+------------+
| stdid   | stdname   |   age |   computer |
+=========+===========+=======+============+
| std105  | Ruby      |    13 |         45 |
+---------+-----------+-------+------------+
| std106  | Suman     |    15 |         45 |
+---------+-----------+-------+------------+
| std107  | Saurabh   |    13 |         45 |
+---------+-----------+-------+------------+

## TUPLE

In [43]:
numbers=(11,22,33,44)
print(numbers)
print(*numbers)

(11, 22, 33, 44)
11 22 33 44

In [49]:
for elements in numbers:
    print( elements , end=", ")

11, 22, 33, 44,

In [53]:
#printing backward using forward direction

In [52]:
n=len(numbers)-1
for i in range(n,-1,-1):
    print(numbers[i], end=', ')

44, 33, 22, 11,

In [59]:
numbers.sort()
#tuples cant be sorted as the updation isnt allowed in tuple

AttributeError: 'tuple' object has no attribute 'sort'

## DICTIONARY

In [62]:
#Indexing is the major issue in list thats why we have introduced dictionary , with the key value pairs 
#keys are unique and is immutable 
#values are muttable 
#dictionary_syntax= {"key": 'value' , "key2": 'value2'}

In [63]:
#to insert keys and value in dictionary

In [64]:
dict={"name": 'Dhruv ' , "age ": 21}
print(dict)

{'name': 'Dhruv ', 'age ': 21}

In [78]:
dict["name"]="dhruv1"
dict["name"]="Dhruv"

In [1]:
dict.insert(1, "Dhruv2")

AttributeError: type object 'dict' has no attribute 'insert'

In [79]:
for elements in dict :
    print(elements, end=' ,')

name ,age  ,class ,

In [81]:
#retrieving value of element
#variable= dictionary_name[key]

In [84]:
names= dict["name"]
for name in names :
    print(name, end='')

Dhruv

In [96]:
names= [
    {"name": 'Dhruv ' , "age ": 21},
    {"name": 'Dhruv1 ' , "age ": 21},
    {"name": 'Dhruv2' , "age ": 21}

]
print(tabulate(names , tablefmt='Grid'))

------  --
Dhruv   21
Dhruv1  21
Dhruv2  21
------  --

In [91]:
from tabulate import tabulate

# Define the student records
student_records = [
    

    
    {"stdid": 1, "stdname": "Alice", "age": 14, "hindi": 78, "english": 88, "maths": 95, "science": 89, "computer": 90, "total": 440},
    {"stdid": 2, "stdname": "Bob", "age": 15, "hindi": 82, "english": 79, "maths": 85, "science": 88, "computer": 92, "total": 426},
    {"stdid": 3, "stdname": "Charlie", "age": 14, "hindi": 90, "english": 85, "maths": 88, "science": 92, "computer": 91, "total": 446},
    {"stdid": 4, "stdname": "David", "age": 15, "hindi": 70, "english": 80, "maths": 78, "science": 85, "computer": 87, "total": 400},
    {"stdid": 5, "stdname": "Eve", "age": 14, "hindi": 95, "english": 89, "maths": 92, "science": 94, "computer": 96, "total": 466},
    {"stdid": 6, "stdname": "Frank", "age": 15, "hindi": 60, "english": 70, "maths": 68, "science": 75, "computer": 80, "total": 353},
    {"stdid": 7, "stdname": "Grace", "age": 14, "hindi": 85, "english": 87, "maths": 90, "science": 88, "computer": 89, "total": 439},
    {"stdid": 8, "stdname": "Heidi", "age": 15, "hindi": 88, "english": 90, "maths": 85, "science": 91, "computer": 93, "total": 447},
    {"stdid": 9, "stdname": "Ivan", "age": 14, "hindi": 72, "english": 75, "maths": 78, "science": 80, "computer": 82, "total": 387},
    {"stdid": 10, "stdname": "Judy", "age": 15, "hindi": 89, "english": 92, "maths": 91, "science": 90, "computer": 94, "total": 456}


]

# Convert the list of dictionaries to a list of lists for tabulate
table = []

#table data
for record in student_records:
    row = [record["stdid"], record["stdname"], record["age"], record["hindi"], record["english"], record["maths"], record["science"], record["computer"], record["total"]]
    table.append(row)

# Defining coloumn names
columns = ["stdid", "stdname", "age", "hindi", "english", "maths", "science", "computer", "total"]

# Displaying table 
print(tabulate(table, headers=columns, tablefmt="grid"))



columns1 = ["stdid", "stdname", "age", "english", ]
#sudent with marks <50 in English
print("\nstudents with English marks > 50 : ")
english_record= [student for student in student_records if student['english'] > 50]

table = []
for student in english_record:
    table.append([student['stdid'], student['stdname'], student['age'], student['english']])

print(tabulate(table, headers=columns1, tablefmt="grid"))



print('\n')



math_record = sorted(student_records, key=lambda x: x["maths"], reverse=True)[:4]

# Get the top 4 students


# Extract the name and age
math_record = [(student["stdname"], student["age"]) for student in math_record]

# Display using tabulate
print(tabulate(math_record , headers=['Student Name', 'Age'], tablefmt="Grid"))

+---------+-----------+-------+---------+-----------+---------+-----------+------------+---------+
|   stdid | stdname   |   age |   hindi |   english |   maths |   science |   computer |   total |
+=========+===========+=======+=========+===========+=========+===========+============+=========+
|       1 | Alice     |    14 |      78 |        88 |      95 |        89 |         90 |     440 |
+---------+-----------+-------+---------+-----------+---------+-----------+------------+---------+
|       2 | Bob       |    15 |      82 |        79 |      85 |        88 |         92 |     426 |
+---------+-----------+-------+---------+-----------+---------+-----------+------------+---------+
|       3 | Charlie   |    14 |      90 |        85 |      88 |        92 |         91 |     446 |
+---------+-----------+-------+---------+-----------+---------+-----------+------------+---------+
|       4 | David     |    15 |      70 |        80 |      78 |        85 |         87 |     400 |
+---------+-----------+-------+---------+-----------+---------+-----------+------------+---------+
|       5 | Eve       |    14 |      95 |        89 |      92 |        94 |         96 |     466 |
+---------+-----------+-------+---------+-----------+---------+-----------+------------+---------+
|       6 | Frank     |    15 |      60 |        70 |      68 |        75 |         80 |     353 |
+---------+-----------+-------+---------+-----------+---------+-----------+------------+---------+
|       7 | Grace     |    14 |      85 |        87 |      90 |        88 |         89 |     439 |
+---------+-----------+-------+---------+-----------+---------+-----------+------------+---------+
|       8 | Heidi     |    15 |      88 |        90 |      85 |        91 |         93 |     447 |
+---------+-----------+-------+---------+-----------+---------+-----------+------------+---------+
|       9 | Ivan      |    14 |      72 |        75 |      78 |        80 |         82 |     387 |
+---------+-----------+-------+---------+-----------+---------+-----------+------------+---------+
|      10 | Judy      |    15 |      89 |        92 |      91 |        90 |         94 |     456 |
+---------+-----------+-------+---------+-----------+---------+-----------+------------+---------+

students with English marks > 50 :
+---------+-----------+-------+-----------+
|   stdid | stdname   |   age |   english |
+=========+===========+=======+===========+
|       1 | Alice     |    14 |        88 |
+---------+-----------+-------+-----------+
|       2 | Bob       |    15 |        79 |
+---------+-----------+-------+-----------+
|       3 | Charlie   |    14 |        85 |
+---------+-----------+-------+-----------+
|       4 | David     |    15 |        80 |
+---------+-----------+-------+-----------+
|       5 | Eve       |    14 |        89 |
+---------+-----------+-------+-----------+
|       6 | Frank     |    15 |        70 |
+---------+-----------+-------+-----------+
|       7 | Grace     |    14 |        87 |
+---------+-----------+-------+-----------+
|       8 | Heidi     |    15 |        90 |
+---------+-----------+-------+-----------+
|       9 | Ivan      |    14 |        75 |
+---------+-----------+-------+-----------+
|      10 | Judy      |    15 |        92 |
+---------+-----------+-------+-----------+


Student Name      Age
--------------  -----
Alice              14
Eve                14
Judy               15
Grace              14

### pop() in dictionary

In [9]:
dict={'stdid': 11 , 'name': "dhruv"}
dict.pop('name')

'dhruv'

In [10]:
dict.pop('name', 'stdid')

'stdid'

In [11]:
print(dict)

{'stdid': 11}

In [13]:
dict={'stdid': 11 , 'name': 'dhruv'}
print(dict)

{'stdid': 11, 'name': 'dhruv'}

### popitem() in dictionary

In [14]:
dict.popitem(
)
print(dict)

{'stdid': 11}

In [15]:
dict={'stdid': 11 , 'name': 'dhruv', 'course': 'Btech'}

### returning elements of dictionary

In [92]:
keys=dict.keys()
print(elements)
keys=dict.keys()

Btech

In [20]:
values=dict.values()
print(values)
print('\n')
print(* values)

dict_values([11, 'dhruv', 'Btech'])


11 dhruv Btech

### item()

In [23]:
#return a list of items of each item will be in the form of tuple with two numbers ie key , value

In [93]:
list=dict.items()

In [94]:
print(list)
type(list)

dict_items([('stdid', 11), ('name', 'dhruv'), ('course', 'Btech')])

dict_items

In [30]:
for elements in dict.values():
    print(elements , end=",")

11,dhruv,Btech,

In [96]:
x= dict.get('name')
print(x)
type(x)

dhruv

str

In [33]:
x=dict.get('english')
print(x)

None

In [35]:
x=dict.get('english', 'no element exist ')
print(x)
#the error msg or any msg can be passed in get method as a second argument of function get()

no element exist

In [36]:
# if you have to insert or update more than 1 element is .update()

In [41]:
dict1={'stdid': 11 , 'name': 'dhruv', 'course': 'Btech'}
dict2={'stdid': 13 , 'name': 'dhruv', 'course': 'Modeling'}

print("before adarsh advice -->")
print(dict1)
print("\nafter adarsh advice--->")
dict1.update(dict2)

print(dict1)

before adarsh advice -->
{'stdid': 11, 'name': 'dhruv', 'course': 'Btech'}

after adarsh advice--->
{'stdid': 13, 'name': 'dhruv', 'course': 'Modeling'}

In [49]:
dict1={'stdid': 11 , 'name': 'dhruv', 'course': 'Btech'}
dict2={'stdid': 13 , 'name': 'dhruv', 'course': 'Modeling' , "money": "unlimited"}
print("the money element in the course " , dict1.get("course") , ": " ,dict1.get('mnoney'))

dict1.update(dict2)
print("the money element in the course ",dict1.get("course") , ": " , dict1.get("money"))

the money element in the course  Btech :  None
the money element in the course  Modeling :  unlimited

### fromkeys()

In [95]:
x=dict1.fromkeys(dict1.keys(), dict1.values())
print(x)
type(x)

{'stdid': dict_values([13, 'dhruv', 'Modeling', 'unlimited']), 'name': dict_values([13, 'dhruv', 'Modeling', 'unlimited']), 'course': dict_values([13, 'dhruv', 'Modeling', 'unlimited']), 'money': dict_values([13, 'dhruv', 'Modeling', 'unlimited'])}

dict

In [59]:
x=dict1.fromkeys(dict1.keys(), 14)
print(x)

{'stdid': 14, 'name': 14, 'course': 14, 'money': 14}

### to find number of elememts in dictionary

In [62]:
print(dict1)
print("the length of the dictionary : " , len(dict1))

{'stdid': 13, 'name': 'dhruv', 'course': 'Modeling', 'money': 'unlimited'}
the length of the dictionary :  4